@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:wght@300&family=Poppins:wght@300;400&display=swap');

.blackdiv{
    display: flex;
    background-color: black;
    padding: 35px;
    border-radius: 45px;
    margin: 30px;
    justify-content: space-between;

}
 h1.col{
    font-size: 40px;
}

.col{
    color: white;
}
body{
    font-family: 'Great Vibes', cursive;

    font-family: 'Open Sans', sans-serif;

    font-family: 'Poppins', sans-serif;
}
.titleclass{
    padding: 45px;
}
.fill{
    padding-left: 8px;
}
.livebtn{
    font-family: 'Great Vibes', cursive;

    font-family: 'Open Sans', sans-serif;

    font-family: 'Poppins', sans-serif;
    padding: 6px;
    background-color: red;
    border: none;
    color: white;
    font-size: large; 
    border-radius: 6px;   
}
.menu button{
    font-family: 'Great Vibes', cursive;

    font-family: 'Open Sans', sans-serif;

    font-family: 'Poppins', sans-serif;
    color: white;
    list-style: none;
    border: none;
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
    background-color: red;
    cursor: pointer;


}
.menu{
    background-color: rgb(15, 15, 15);
    margin: 30px;
    height: 200px;
    width: 230px;
    padding-top: 30px;
    padding-right: 30px;
    border-radius: 15px;
}
.menu ul li .all{
    text-decoration: none;
    padding: 9px;
    background-color: white;
    color: black;
    border-radius: 6px;
  
}
.menu ul li .no{
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: white;
    color: black;
    border-radius: 6px;
  
}

.blog{
    text-decoration: none;
    padding: 8px 8px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: rgb(214, 2, 2);
    color: rgb(247, 236, 236);
    border-radius: 6px;
  
}
.menu ul li{
    text-align: center;
    list-style: none;
    padding: 10px;
    
}

.transfer{
    font-family: 'Great Vibes', cursive;

    font-family: 'Open Sans', sans-serif;

    font-family: 'Poppins', sans-serif;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(145, 141, 141);
    margin-left: 15px;
    margin-top: 10px;
}
.cardsalah{
    padding: 5px;
    box-shadow: 2px 2px 2px gray;
    border-radius: 10px;
}
.icon{
    display: flex;
} 
.icon img{
    padding: 10px;
    padding-top: -5px;
}
.salah{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 150px;
    row-gap: 10px;
    

}
.sec2{
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

footer{
    height: 300px;
    width: 100%;
    background-color: rgba(27, 27, 27, 0.938);
}
.goal{
    padding-top: 20px;
    text-align: center;
    color: white;
}
.foot ul li{
    text-decoration: none;
    display: inline-block;
    padding: 6px;
    margin-left: 150px;
    margin-top: 10px;
    color: rgb(167, 169, 172);
    cursor: pointer;
}
.flag{
    display: flex;
}
.football{
    padding: 10px;
    border: 1px solid rgb(192, 190, 190);
}
p,h4{
    text-align: center;
}
p{
    color: rgb(107, 107, 107);
}

footer{
    height: 300px;
    width: 100%;
    background-color: rgba(27, 27, 27, 0.938);
}
.goal{
    padding-top: 20px;
    text-align: center;
    color: white;
}
.foot ul li{
    text-decoration: none;
    display: inline-block;
    padding: 6px;
    margin-left: 150px;
    margin-top: 10px;
    color: rgb(167, 169, 172);
    cursor: pointer;
}

@media screen and (min-width:0px) and (max-width:576px) {
    .blackdiv {
        display: inline-block;
    }

    .sec2 {
        display: inline-block;
    }

    .salah {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .flag{
        justify-content: center;
    }

    footer {
        height: 600px;
        width: 100%;
        background-color: rgba(27, 27, 27, 0.938);
        text-align: center;

    }

    .menu {
        margin-left: 120px;
        background-color: white;

    }

    .all {
        border: 1px solid rgb(175, 173, 173);
    }

    .no {
        border: 1px solid rgb(175, 173, 173);
    }

    .cardsalah {
        
        margin-left: 90px;
    }
    .football{
        display: inline;
    }

    .foot ul li {
        text-decoration: none;
        display: inline-block;
        margin-top: 10px;
        color: rgb(167, 169, 172);
        cursor: pointer;
        align-items: center;
        padding-right: 150px;
    }

}
@media screen and (min-width:577px) and (max-width:992px) {
    .blackdiv {
        display: flex;
    }

    .sec2 {
        display: inline-block;
    }
    .marcelo{
        padding-top: 80px;
    }

    .salah {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5px;
    }

    footer {
        height: 400px;
        width: 100%;
        background-color: rgba(27, 27, 27, 0.938);
        text-align: center;        

    }
    .menu {
        display: inline;
        
        background-color: white;

    }
    .menu ul{
        display: flex;
        justify-content: center;
    }

    .all {
        border: 1px solid rgb(175, 173, 173);
    }

    .no {
        border: 1px solid rgb(175, 173, 173);
    }
    .football{
        margin: 90px;
    }

    .cardsalah {
        margin-left: 110px;
        
    }

    .foot ul li {
        text-decoration: none;
        display: inline-block;
        margin-top: 10px;
        color: rgb(167, 169, 172);
        cursor: pointer;
        align-items: center;
        padding-right: 150px;
    }
    
}
